<body>

<div class="sidenav" *ngIf="showadmin==1">
  <button class="sidebutton" *ngFor="let classroom of clasrooms"  (click)="onSelect(classroom.id)"> {{classroom.name}} </button>

  <div id="addClassroom" *ngIf="activatedAdd==1">
    <input class="int" type="text"  value= "{{classroom.name}}"[(ngModel)]="classroom.name">
    <button id="tinyadd" (click)="addClassroom()" >+</button>
  </div>
  <button id="addclass" (click)="activateAdd()">+</button>
  <button id="delclass" (click)="deleteClassroom()" >-</button>
  <div id="subjectsdiv">
    <button id="subjects"  (click)="switch()">Subjects</button>
  </div>
</div>



<div class="main" *ngIf="showadmin==1">

  <app-classroom [idClassroom]="idClassroom"></app-classroom>
</div>
<div *ngIf="showadmin==-1">
  <app-subjects></app-subjects>
</div>
<div *ngIf="showadmin==1">
<app-add-subject-to-classroom [idClassroom]="idClassroom"></app-add-subject-to-classroom>
</div>
</body>
