<!--<p>{{idQuiz}}</p>-->
<!--<p>{{quiz.name}}</p>-->

heeeeeeeeeeeeeeeeeeeeeeeeey
<!--<button id="save" (click)="saveQuiz() " >Save</button>-->
<!--<mat-grid-list cols="4" gutterSize="3" rowHeight="100px">-->
<!--  <mat-grid-tile-->
<!--    *ngFor="let tile of quiz.questions">  <mat-card class="example-card">-->
<!--    <mat-card-header>-->
<!--      <div mat-card-avatar class="example-header-image"></div>-->
<!--      <mat-card-title > {{tile.statement}}</mat-card-title>-->
<!--    </mat-card-header>-->
<!--  </mat-card>-->

<!--  </mat-grid-tile>-->

<!--</mat-grid-list>-->
