.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2a455a;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #92a3b1;
  display: block;
}

.sidebutton{
  width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial;
  font-size: 30px;
  font-weight: 500;
  background-color: transparent;
  border: 0px;
  color: #a0b1bf;

}
#addclass{
  border-radius: 50%;
  border: 0px ;
  background-color: #37687a;
  font-size: 30px;
  color: #bbccda;

  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 108px;
  left: 50px;

}

#delclass{
  border-radius: 50%;
  border: 0px ;
  background-color: #37687a;
  font-size: 30px;
  color: #bbccda;

  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 30px;
  left: 50px;

}
#addclass:hover{
  color: #f1f1f1;
  background-color: #317c94;
}
#delclass:hover{
  color: #f1f1f1;
  background-color: #317c94;
}
.sidebutton:hover {
  color: #f1f1f1;
  background-color: #2a596e;
  border: 0px;
}


.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.int{
  border-radius: 30px;
  padding: 10px 5px 15px 5px;
  margin-left: 4px;
  border: 0px ;
  width: 55%;
  float:left;
  text-align: center;
  background-color: #bde1e9;
  margin: 0px 0px 2px 7px;
  font-size: 20px;

}
#tinyadd{

  border-radius: 50%;
  border: 0px ;
  background-color: #37687a;
  font-size: 15px;
  color: #bbccda;
  float:left;
  margin: 9px 0px 2px 8px;
  width: 30px;
  height: 30px;

}
#subjects {


  margin: 5px 0px 2px 40px;
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
  border: 0px;
  font-family: Arial;
  font-size: 15px;
  background-color: #cff5fd;
}
#subs{

  position: absolute;
  left:200px;
  top:100px;
}

body{
  width: 100%;
  height: 100%;
}
.selected{

  backgroun-color:red;
}
